* {
  scroll-behavior: smooth;
}

html {
  width:100vw;
  overflow-x:hidden;
}

body {
  background: #eee !important;
}

/*Inheritance from parent for styling just one node*/
.MuiTableCell-head {
  font-size: inherit !important;
  font-weight: inherit !important;
  letter-spacing: inherit !important;
}

.table-row-custom {
  background: inherit;
  transition: 0.1s all ease;
}

.table-row-custom:hover {
  background: #f8f7ff;
}
